*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --grey: #D3D3D3;
  --lighterGrey: #DBDBDB;
  --green: #55a471;
}

body{
  background-color: var(--grey);

}

.main-container{
  margin-left: auto;
  margin-right: auto;
}

/* header{
  margin: 0;
  padding: 0;
}

.image{
  margin-left: 0;
}
*/
.aboutme{
  background-image: url("./images/top-sm-right.png");
} 